<nav class="navbar navbar-expand-lg navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app_home') }}">LE SICTOM</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
				</li>
				{% if app.user is defined %}
					{% if is_granted('ISADMIN', app.user) %}
						<li class="nav-item">
							<a class="nav-link" href="">Controle</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="">Fréquentations</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_matrice') }}">Matrice</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_register') }}">Créer un utilisateur</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_extraction') }}">Extraction</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_frequentation') }}">Fréquentation</a>
						</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
					</li>
				{% else %}

					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
					</li>

				{% endif %}
			</ul>
		</div>
	</div>
</nav>
