{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur
{% endblock %}

{% block body %}

	<section class="container">
		<div class="row">
			<div class="col-12 text-center">
				<br><br><h3>Modifier l'utilisateur</h3>
			</div>
			<div class="card col-md-10 col-8 bg-dark mx-auto text-center login-card"><br>
				{{ form_start(registrationForm) }}<br>
				{{ form_row(registrationForm.username) }}<br>
				{{ form_row(registrationForm.plainPassword, {
           		 label: 'Mot de passe'
        		}) }}<br>
				{{form_row(registrationForm.isLandfill)}}<br>
				{{form_row(registrationForm.isAdmin)}}<br>

				<button type="submit" class="btn btn-primary btn-lg">Modifier</button><br>
				{{ form_end(registrationForm) }}<br>

			</div>
		</div>
	</section>
{% endblock %}
